<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.surpass.mvc.app.android.dao.AppMemberCollectionMapper">
	<!-- 课程收藏相关 -->
	<insert id="insertSelective" parameterType="com.surpass.mvc.system.bas.model.MemberCollectionCourse">
	insert into member_collection_course
	<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="id != null">
			id,
		</if>
		<if test="memberid != null">
			memberId,
		</if>
		<if test="courseid != null">
			courseId,
		</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="id != null">
			#{id,jdbcType=INTEGER},
		</if>
		<if test="memberid != null">
			#{memberid,jdbcType=INTEGER},
		</if>
		<if test="courseid != null">
			#{courseid,jdbcType=INTEGER},
		</if>
	</trim>
</insert>
	<!-- 用户收藏的课程总数 -->
	<select id="totalbyMember" resultType="Integer"
		parameterType="com.surpass.mvc.system.bas.model.MemberCollectionCourse">
		select count(mc.id) 
		FROM member_collection_course mc 
		<where>
			mc.memberId = #{memberid}
		</where>
	</select>
	<!-- 用户收藏的课程总数 -->
	<select id="totalbyCourse" resultType="Integer"
		parameterType="com.surpass.mvc.system.bas.model.MemberCollectionCourse">
		select count(mc.id) 
		FROM member_collection_course mc 
		<where>
			mc.courseId = #{courseid}
		</where>
	</select>
	
	<!--用户收藏的课程详情查询 -->
	<select id="getListData" resultType="com.surpass.mvc.system.bas.model.Course"
		parameterType="map">
	SELECT
	c.id id,
	c.title title,
	c.`level` 'level',
	c.type type,
	c.store store,
	c.teacher_id teacher_id,
	c.teacher_name teacher_name,
	c.clicks clicks,
	c.ji_fen ji_fen,
	c.jia_ge jia_ge,
	c.`status` 'status',
	c.path path,
	c.img img,
	c.tui_jie tui_jie,
	c.`index` `index`,
	DATE_FORMAT(c.cjsj, '%Y-%m-%d %H:%i:%s') cjsj
	FROM t_course c
	<where>
		c.id in (select courseId from member_collection_course where memberId = #{0})
	</where>
	ORDER BY cjsj DESC
	LIMIT #{1}, #{2}
	</select>
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE
		FROM
		member_collection_course
		WHERE
		id IN (select m.id FROM (
		SELECT
		c.id
		FROM
		member_collection_course c
		WHERE
		c.memberId =#{memberid,jdbcType=INTEGER} and c.courseId =
		#{courseid,jdbcType=INTEGER}) m
		)
	</delete>
	<!-- 作品收藏相关 -->
	<insert id="insertOpus" parameterType="com.surpass.mvc.system.bas.model.MemberCollectionOpus" >
    insert into member_collection_opus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberid != null" >
        memberId,
      </if>
      <if test="opusid != null" >
        opusId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=INTEGER},
      </if>
      <if test="opusid != null" >
        #{opusid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <!-- 取消作品收藏 -->
  <delete id="deleteOpus" parameterType="java.lang.Integer">
		DELETE
		FROM
		member_collection_opus
		WHERE
		id IN (select m.id FROM (
		SELECT
		c.id
		FROM
		member_collection_opus c
		WHERE
		c.memberId =#{memberid,jdbcType=INTEGER} and c.opusId =
		#{opusid,jdbcType=INTEGER}) m
		)
	</delete>
	<!-- 用户收藏的作品总数 -->
	<select id="totalOpusbyMember" resultType="Integer"
		parameterType="com.surpass.mvc.system.bas.model.MemberCollectionOpus">
		select count(mc.id) 
		FROM member_collection_opus mc 
		<where>
			mc.memberId = #{memberid}
		</where>
	</select>
	<!-- 用户收藏的作品总数 -->
	<select id="totalbyOpus" resultType="Integer"
		parameterType="com.surpass.mvc.system.bas.model.MemberCollectionOpus">
		select count(mc.id) 
		FROM member_collection_opus mc 
		<where>
			mc.opusId = #{opusid}
		</where>
	</select>
	<!-- 查询信息 -->
	<select id="getListOpus" resultType="com.surpass.mvc.system.bas.model.TeacherOpus"
		parameterType="map">
		SELECT
		id,
		title,
		teacherId,
		teacherNane,
		`status`,
		path,
		img,
		`index`,
		DATE_FORMAT(createdate, '%Y-%m-%d %H:%i:%s') createdate
		FROM t_teacher_opus
		<where>
		id in (select opusId from member_collection_opus where memberId = #{0})
		</where>
		ORDER BY createdate DESC
		LIMIT #{1}, #{2}
	</select>
	<!--用户收藏的课程情况-->
	<select id="isCollectionCourse" resultType="com.surpass.mvc.system.bas.model.MemberCollectionCourse"
		parameterType="map">
	SELECT
	*
	FROM member_collection_course c
	<where>
		memberId=#{memberid} and courseId=#{courseid}
	</where>
	</select>
	<!--用户收藏的作品情况-->
	<select id="isCollectionOpus" resultType="com.surpass.mvc.system.bas.model.MemberCollectionOpus"
		parameterType="map">
	SELECT
	*
	FROM member_collection_opus c
	<where>
		memberId=#{memberid} and opusId=#{opusid}
	</where>
	
	</select>
</mapper>