<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.surpass.mvc.app.android.dao.AppTeacherMapper">

	<!-- 查询信息 -->
	<select id="getList" resultType="com.surpass.mvc.system.sys.model.TeacherInfo"
		parameterType="map">
		SELECT
		id,
		nickname,
		picture,
		synopsis,
		info,
		commond,
		accountid,
		memberid,
		DATE_FORMAT(createdate, '%Y-%m-%d %H:%i:%s') createdate
		FROM t_teacher_info
		<where>
			<if test="teacherInfo.nickname != null and teacherInfo.nickname !='' ">
				and nickname like CONCAT(#{teacherInfo.nickname},'%' )
			</if>
			<if test="teacherInfo.commond != null and teacherInfo.commond !='' ">
				and commond=#{teacherInfo.commond}
			</if>
			<if test="teacherInfo.accountid != null and teacherInfo.accountid !='' ">
				and accountid=#{teacherInfo.accountid}
			</if>
			<if test="teacherInfo.id != null and teacherInfo.id !='' ">
				and id=#{teacherInfo.id}
			</if>
		</where>
		ORDER BY createdate DESC
		LIMIT #{start}, #{limit}
	</select>
	
	<!-- 查询信息 -->
	<select id="getOupsList" resultType="com.surpass.mvc.system.bas.model.TeacherOpus"
		parameterType="map">
		SELECT
		id,
		title,
		teacherId,
		teacherNane,
		`status`,
		path,
		img,
		`index`,
		DATE_FORMAT(createdate, '%Y-%m-%d %H:%i:%s') createdate
		FROM t_teacher_opus
		<where>
			<if test="title != null and title !='' ">
				and title like CONCAT('${title}','%' )
			</if>
			<if test="teacherid != null and teacherid !='' ">
				and teacherId=#{teacherid,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY createdate DESC
		LIMIT #{start}, #{limit}
	</select>
	
	<!-- 作品展示 -->
	<select id="getHotData" resultType="com.surpass.mvc.system.bas.model.TeacherOpus"
		parameterType="map">
		SELECT
		c.id id,
		c.teacherNane teacherNane,
		c.teacherId teacherId,
		c.title title,
		c.`status` 'status',
		c.path
		path,
		c.img img,
		c.`index` `index`,
		DATE_FORMAT(c.createdate, '%Y-%m-%d %H:%i:%s') createdate,
		h.id hotid,
		t.picture teacherimg,
		IF (m.id IS NULL, 0, 1) AS iscollection
		FROM t_teacher_info t,t_teacher_opus_hot h
		LEFT JOIN t_teacher_opus c ON
		h.opusId = c.id
		LEFT JOIN member_collection_opus m ON (m.opusId=c.id AND m.memberId=#{teacherOpus.memberid})
		<where>
			c.status = 1 and t.id=c.teacherId
		</where>
		ORDER BY h.createdate DESC
		LIMIT #{start}, #{limit}
	</select>
	<!-- 获取教师类型信息 -->
	<select id="getTeacherType" resultType="com.surpass.mvc.system.bas.model.TeacherType"
		parameterType="map">
		select
		*
		from t_teacher_type
		<where>
			<if test="teacherid != null and teacherid !='' ">
				and teacherid=#{teacherid,jdbcType=VARCHAR}
			</if>
			<if test="typeid != null and typeid !='' ">
				and typeid=#{typeid,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<!-- 通过类型查询教师信息 -->
	<select id="getTeacherInfoByTypeId" resultType="com.surpass.mvc.system.sys.model.TeacherInfo"
		parameterType="map">
		SELECT
		t.id,
		t.nickname,
		t.picture,	
		t.synopsis,
		t.info,
		t.commond,
		t.accountid,
		t.memberid,
		DATE_FORMAT(t.createdate,'%Y-%m-%d %H:%i:%s') createdate
		FROM
		t_teacher_info t
		WHERE
		t.id IN (
		SELECT
		teacherid
		FROM
		t_teacher_type p
		<where>
		p.typeid = #{0}
				and if(#{1} is null,t.commond in('1','0'),t.commond=#{1})
		</where>
		)
		ORDER BY createdate DESC
		LIMIT #{2}, #{3}
	</select>
</mapper>