<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.surpass.mvc.system.sys.dao.RoleMapper">
	<!-- 查询角色信息 -->
	<select id="query" resultType="com.surpass.mvc.system.sys.model.Role" parameterType="map">
		select r.* from t_sys_role r where 1=1
		<if test="role.r_name != null and role.r_name!='' ">
			and r.r_name like CONCAT('%','${role.r_name}','%' )
		</if>
		<if test="role.r_code != null and role.r_code!='' ">
			and r.r_code like CONCAT('%','${role.r_code}','%' )
		</if>
		<if test="role.state != null and role.state!='' ">
			and r.state = #{role.state}
		</if>
		<if test="role.user_type != null and role.user_type!='' ">
			and r.user_type = #{role.user_type}
		</if>
		<if test="orderBy != null and orderBy !='' ">
			orderBy
		</if>
		<![CDATA[
            limit #{start}, #{limit}        
      	]]>
	</select>
	<!-- 查询角色信息数据条数 -->
	<select id="total" resultType="Integer" parameterType="com.surpass.mvc.system.sys.model.Role">
		select count(r_id) from t_sys_role where 1=1
		<if test="r_name != null and r_name!='' ">
			and r_name like CONCAT('%','${r_name}','%' )
		</if>
		<if test="r_code != null and r_code!='' ">
			and r_code like CONCAT('%','${r_code}','%' )
		</if>
		<if test="state != null and state!='' ">
			and state = #{state}
		</if>
		<if test="user_type != null and user_type!='' ">
			and user_type = #{user_type}
		</if>
	</select>
	<!-- 删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_sys_role where r_id in (${r_id})
	</delete>
	<!-- 更改 -->
	<update id="updateByPrimaryKey" parameterType="com.surpass.mvc.system.sys.model.Role">
		update t_sys_role
		set r_name = #{r_name,jdbcType=VARCHAR},
		r_code =
		#{r_code,jdbcType=VARCHAR},
		bz = #{bz,jdbcType=VARCHAR},
		state =
		#{state,jdbcType=CHAR},
		<if test="user_type != null and user_type!='' ">
			user_type=#{user_type,jdbcType=INTEGER},
		</if>
		u_time =
		NOW()
		where r_id = #{r_id,jdbcType=VARCHAR}
	</update>
	<!-- 增加 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="r_id" parameterType="com.surpass.mvc.system.sys.model.Role">
		<selectKey resultType="string" order="AFTER" keyProperty="r_id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_sys_role (r_name, r_code,
		user_type,
		bz, state, c_time, u_time
		)
		values (
		#{r_name,jdbcType=VARCHAR},
		#{r_code,jdbcType=VARCHAR},
		#{user_type,jdbcType=INTEGER},
		#{bz,jdbcType=VARCHAR}, #{state,jdbcType=CHAR}, NOW(), NOW()
		)
	</insert>
	<!-- 验证角色code -->
	<select id="verifyRoleCode" resultType="Integer" parameterType="map">
		select count(*) from t_sys_role
		where r_code = #{r_code}
		<if test="r_id != null and r_id !='' ">
			and r_id != #{r_id}
		</if>
	</select>
	<!-- 查询角色模块信息 -->
	<select id="getRoleModuleTree" resultType="com.surpass.mvc.system.sys.model.SysModule">
		select
		m.m_id id,
		m.m_name text,
		m.leaf,
		m.iconCls,
		m.parentId,
		m.singleClickExpand,
		if(rm.module_id
		is null,'false','true') checked
		from t_sys_module m left join (select * from t_sys_role_module where role_id=#{role_id}) rm
		on m.m_id=rm.module_id
		where m.state='1' and
		m.parentId=#{parentId} order by m.idx
	</select>
	<!-- 添加角色模块关系 -->
	<insert id="insertRoleModule" parameterType="java.util.List">
		insert into t_sys_role_module (id, module_id, role_id) values
		<foreach collection="list" item="item" index="index" open="(" separator="),(" close=")">
			UUID(),#{item.m_id},#{item.r_id}
		</foreach>
	</insert>
	<!-- 删除角色模块关系 -->
	<delete id="deleteRoleModuleByRoleId" parameterType="map">
		delete from t_sys_role_module where module_id in (${delId}) and role_id =
		#{roleId}
	</delete>
	<!-- 删除角色模块关系 -->
	<delete id="deleteRoleModule" parameterType="string">
		delete from t_sys_role_module where role_id in (${r_id})
	</delete>
	<!-- 删除用户 角色关系 -->
	<delete id="deleteUserRole" parameterType="string">
		delete from t_sys_user_role where role_id in (${r_id})
	</delete>
	<!-- 用户角色查询 -->
	<select id="totalUserRole" resultType="Integer" parameterType="java.lang.String">
		select count(id) from t_sys_user_role where role_id in (${r_id})
	</select>
	<select id="getRoleUserGridStoreQuery" resultType="map" parameterType="map">
		select p.id,p.emp_id,ac.username xm,dp.bmmc bmmc
		from
		t_sys_user p
		left join
		t_sys_department dp
		on p.dept_id=dp.bmbh
		left join
		frm_account ac
		on p.id=ac.account_id where
		<if test="isDfp == false">
			not
		</if>
		exists(select user_id from t_sys_user_role where user_id=p.id and role_id=#{roleId,jdbcType=VARCHAR})
		<if test="emp_id != null and emp_id != '' ">
			and p.emp_id=#{emp_id}
		</if>
		<if test="dept_id != null and dept_id!='' ">
			and p.dept_id=#{dept_id}
		</if>	
		<![CDATA[
            limit #{start}, #{limit}        
      	]]>
	</select>
	<!-- <select id="getRoleUserGridStoreQuery" resultType="map" parameterType="map"> select p.xh,p.jybh,p.xm,dp.bmqc from bas_police p left join 
		frm_department dp on p.bmdm=dp.glbm where <if test="isDfp == false"> not </if> exists(select user_id from t_sys_user_role where user_id=p.xh 
		and r_id= #{roleId,jdbcType=VARCHAR}) <if test="jybh != null and jybh!='' "> and p.jybh=#{jybh,jdbcType=VARCHAR} </if> <if test="bmdm != null 
		and bmdm!='' "> and p.bmdm in(select glbm from frm_department where path like concat('${bmdm}','%' )) </if> <![CDATA[ limit #{start}, #{limit} 
		]]> </select> -->
	<!-- 获取角色用户 -->
	<select id="getRoleUserGridStoreTotal" resultType="Integer" parameterType="map">
		select count(p.id) from t_sys_user p where
		<if test="isDfp == false">
			not
		</if>
		exists(select user_id from t_sys_user_role where user_id=p.id and role_id=#{roleId,jdbcType=VARCHAR})
		<if test="emp_id != null and emp_id!='' ">
			and p.emp_id=#{emp_id,jdbcType=VARCHAR}
		</if>
		<if test="emp_id != null and emp_id!='' ">
			and p.dept_id=#{emp_id}
			<!-- and p.dept_id in (select bmbh from t_sys_department where path like concat('${bmdm}','%' )) -->
		</if>
	</select>
	<insert id="grantRoleToUsers">
		insert into t_sys_user_role(id,user_id,role_id) select uuid(),id,#{roleId} from t_sys_user where
		id in
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</insert>
	<delete id="deleteUsersFromRole" parameterType="java.lang.String">
		delete from t_sys_user_role where user_id in
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
		and role_id =#{1}
	</delete>
	<select id="getNoUserOfRole" resultType="com.surpass.mvc.system.sys.bean.ComboBox">
		select t.r_id id,t.r_name text
		from t_sys_role t
		where not exists (
		select * from
		t_sys_user_role ur
		where ur.role_id=t.r_id and ur.user_id=#{0}
		) and t.state='1' and t.user_type=#{1}
	</select>
	<select id="getUserOfRole" resultType="com.surpass.mvc.system.sys.bean.ComboBox">
		select t.r_id id,t.r_name text
		from t_sys_role t
		where exists(
		select * from t_sys_user_role ur
		where ur.role_id=t.r_id and ur.user_id=#{0}
		) and t.state='1' and t.user_type=#{1}
	</select>
	<!-- 删除用户角色 -->
	<delete id="deleteUserOfRole" parameterType="java.lang.String">
		delete from t_sys_user_role where user_id=#{0} and role_id in
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<!-- 查询角色所处部门名称 -->
	<select id="getRoleDepartName" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT bmmc from t_sys_department where bmbh in (select
		dept_id from t_sys_user where id in (select user_id from t_sys_user_role where role_id in (select r_id from t_sys_role where r_name =
		#{role_name})))
	</select>
	<!-- 查询角色条数 -->
	<select id="getRoleCount" resultType="Integer">
		SELECT count(r_id) from t_sys_role
	</select>
	<!-- 增加用户角色 -->
	<insert id="addUserOfRole">
		insert into t_sys_user_role (id,role_id,user_id) select uuid(),t.r_id,#{0} from t_sys_role t where t.r_id in
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</insert>
</mapper>