<?xml version="1.0" encoding="UTF-8"?>
<!-- default-autowire指定默认的自动注入方式 -->
<beans default-autowire="no" xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!--  spring 整合mybatis -->
	<!-- 导入database.properties -->
	<context:property-placeholder location="classpath:jdbc-mysql.properties"/>
	<!-- 数据源(dbcp) -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${driverClassName}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${user}"></property>
		<property name="password" value="${password}"></property>
	</bean>	
	<!-- sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 注入数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 注入mybatis核心配置文件的路径 -->
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>	
	<!-- dao接口扫描器(扫描所有dao接口生成实现类对象) -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 注入dao接口所在包名 -->
		<property name="basePackage" value="linfei.dao"></property>
		<!-- 注入sqlSessionFactory的名字 
		     缺省名字:sqlSessionFactory(如果刚好等于缺省的名字，就不用配置了)-->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>
	<!-- 事务管理   -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
    	<property name="dataSource" ref="dataSource"/>  
 	</bean>
 	<!-- 面向切面 -->
 	<aop:aspectj-autoproxy/>
      <aop:config proxy-target-class="true">
      	<aop:pointcut expression="execution(* *linfei.service..*(..))" id="transService"/>
      	<aop:advisor advice-ref="myAdvice" pointcut-ref="transService"/>
      </aop:config>    
 	<tx:advice id="myAdvice" transaction-manager="txManager">  
    	<tx:attributes>  
	        <tx:method name="appsys*"  propagation="REQUIRED" rollback-for="Exception"  />
	        <tx:method name="*" />
    	</tx:attributes>  
 	</tx:advice>
</beans>