/*tongyong*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li,pre,fieldset, lengend, button, input, textarea,th, td,span {margin: 0;padding: 0;}
body, button, input, select, textarea {
	font: 12px/1 "Microsoft YaHei", 'SimSun', Arial, Helvetica,  sans-serif, "Hiragino Sans GB";}
h1 { font-size: 22px;}
h2 { font-size: 18px; } 
h3 { font-size: 16px; } 
h4, h5, h6 { font-size: 100%; } 
small { font-size: 12px; }
ul { list-style: none; }
a { text-decoration: none; color: #FFFFFF;}
fieldset, img { border: none; }
button, input, select, textarea { font-size: 100%; }
i, em { font-style: normal; }
.fl { float: left; } 
.fr { float: right; } 
.clear{ clear: both;}
input, button, select, textarea { outline: none; -webkit-appearance: none; border-radius: 0; background-color:transparent; border-color:transparent; }
/*header*/
.header{position: relative; top: 0; z-index: 3; background-color: #fff; width: 100%; height:auto; padding: 0.5% 0;}
.w-1248{ width: 1248px; margin: 0 auto; }

/*login-main*/
body{background: url(../images/login-bg.jpg) center center no-repeat; background-size: 100%; }
.login-main{position: relative; top: 0; width: 100%; height: auto; padding: 8% 0 0 0;}
.login-box{ width: 65%; min-height:470px; 
  _height:expression(this.scrollHeight < 470 ? "470px" : "auto"); }
.login-cont{ width: 65%; height: auto;}
.login-cont1{ width: 30%; height: 220px; float: left; margin: 0 3% 3% 0; text-align: center; color: #FFFFFF; position: relative;}
.login-cont1 img{ margin-top: 10%;}
.login-cont1 h2{ line-height: 32px;}
.login-cont1 p{ line-height: 20px;}
.login-cont11{ background:rgba(25,170,141,0.8)}
.login-cont12{ background:rgba(142,198,65,0.8)}
.login-cont13{ background:rgba(218,104,151,0.8)}
.login-cont14{ background:rgba(221,130,35,0.8)}
.login-cont15{ background:rgba(195,178,36,0.8)}
.login-cont16{ background:rgba(55,172,220,0.8)}
.login-c{ margin: 0 20px;}
.cover{ display: none; z-index: 2; width: 100%; height: 220px; position: absolute; top: 0; left: 0; text-align: center;}
.login-cont1:hover .cover{ display: block; background: rgba(34,51,77,1.0); }
.cover h2{ margin-top: 30px;}
.cover h2,.cover p{ margin-left:20px; margin-right: 20px;}

.login-cont2{ width: 35%; height: 460px; background: rgba(213,223,230,0.8);}
.login-con { margin: 4% 8%;}
.login-con h1{ color: #22334d; border-bottom: 1px solid #7a848d; line-height: 48px; margin-bottom: 4%;}
.login-con p.login-title{ color: #646464; font-size: 16px; line-height: 20px;}
.login-con .text1,.login-con .text2{ width: 86%; height: 48px; line-height: 48px;  padding-left: 13%; font-size: 16px;  margin: 2% 0;color:#22334d ;}
.login-con .text1{ background: url(../images/username.png) left center no-repeat;}
.login-con .text2{ background: url(../images/password.png) left center no-repeat;}
input[type="checkbox"] + label { cursor: pointer;  }
[id^="checkbox-"] + label { background: url(../images/check.png) 0 0 no-repeat; width: 24px; height: 24px; display: inline-block; vertical-align: middle; }
[id="checkbox-1"]:checked + label {background: url(../images/checked.png);width: 24px;height: 24px;}
.j-mima{ margin: 4% 0 4% 4px;} 
.j-mima .jizhu{ color:#4f5173 ; font-size: 16px; margin-left: 6px;}
.login-con a{ display: block;}
.my-submit{width: 100%; height: 48px; line-height: 48px; background: #19aa8d; border-radius: 4px; margin: 8% 0; border: none; color: #FFFFFF; font-size: 20px; font-weight: bold; }
.login-con a:hover .my-submit{ background-color: #029578;}
/*footer*/
.footer{width: 100%; height: 60px; line-height: 60px; color: #FFFFFF; text-align: center;}
.footer p{ position: absolute; left: 50%; margin-left: -142px; font-size: 14px;}
/*.footer{ width: 100%; z-index: 3; position: absolute;bottom: 0;}
.footer .h-liner{ width: 100%; height: 8px; display:block;background-color: #030e1a;}
.footer .footer-1{ padding:0.8% 0 1.2% 0;  text-align: center; background-color:#081829 ;}
.footer-1 p{ font-size: 14px; color: #FFFFFF;}*/
 @media screen and (max-width: 1440px) {.login-cont1{ height: 190px; }.cover{ height: 190px;}.login-cont2{ height: 400px;}.login-box{ width: 65%; min-height:410px; 
  _height:expression(this.scrollHeight < 410 ? "410px" : "auto"); }} 