<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.surpass.mvc.system.bas.dao.CoursewareMapper">

	<!-- 查询信息 -->
	<select id="query" resultType="com.surpass.mvc.system.bas.model.Courseware"
		parameterType="com.surpass.mvc.system.bas.model.Courseware">
		SELECT
		id,
		course_id,
		name,
		synopsis,
		clicks,
		DATE_FORMAT(cjsj, '%Y-%m-%d %H:%i:%s') cjsj,
		order_index,
		path,
		img,
		introduce
		FROM t_courseware
		<where>
			course_id = #{course_id}
			<if test="name != null and name !='' ">
				and name like CONCAT('${name}','%')
			</if>
		</where>
		ORDER BY order_index
	</select>

	<delete id="deleteByKey" parameterType="java.lang.String">
		delete from
		t_courseware 
		where
		id in (${ids})
	</delete>

	<resultMap id="BaseResultMap" type="com.surpass.mvc.system.bas.model.Courseware">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="course_id" property="course_id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="synopsis" property="synopsis" jdbcType="VARCHAR" />
		<result column="clicks" property="clicks" jdbcType="INTEGER" />
		<result column="cjsj" property="cjsj" jdbcType="TIMESTAMP" />
		<result column="order_index" property="order_index" jdbcType="INTEGER" />
		<result column="path" property="path" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.surpass.mvc.system.bas.model.Courseware"
		extends="BaseResultMap">
		<result column="introduce" property="introduce" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, course_id, name, synopsis, clicks, cjsj, order_index,
		path
	</sql>
	<sql id="Blob_Column_List">
		introduce
	</sql>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from t_courseware
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		t_courseware
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.surpass.mvc.system.bas.model.Courseware">
		insert into t_courseware (id,
		course_id, name,
		synopsis, clicks, cjsj,
		order_index, path, introduce
		)
		values (#{id,jdbcType=BIGINT}, #{course_id,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{synopsis,jdbcType=VARCHAR},
		#{clicks,jdbcType=INTEGER}, #{cjsj,jdbcType=TIMESTAMP},
		#{order_index,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR},
		#{introduce,jdbcType=LONGVARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.surpass.mvc.system.bas.model.Courseware">
		insert into t_courseware
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="course_id != null">
				course_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="synopsis != null">
				synopsis,
			</if>
			<if test="order_index != null">
				order_index,
			</if>
			<if test="path != null">
				path,
			</if>
			<if test="img != null">
				img,
			</if>
			<if test="introduce != null">
				introduce,
			</if>
			clicks,
			cjsj,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="course_id != null">
				#{course_id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="synopsis != null">
				#{synopsis,jdbcType=VARCHAR},
			</if>
			<if test="order_index != null">
				#{order_index,jdbcType=INTEGER},
			</if>
			<if test="path != null">
				#{path,jdbcType=VARCHAR},
			</if>
			<if test="img != null">
				#{img,jdbcType=VARCHAR},
			</if>
			<if test="introduce != null">
				#{introduce,jdbcType=LONGVARCHAR},
			</if>
			0,
			now(),
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.surpass.mvc.system.bas.model.Courseware">
		update t_courseware
		<set>
			<if test="course_id != null">
				course_id = #{course_id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="synopsis != null">
				synopsis = #{synopsis,jdbcType=VARCHAR},
			</if>
			<if test="clicks != null">
				clicks = #{clicks,jdbcType=INTEGER},
			</if>
			<if test="cjsj != null">
				cjsj = #{cjsj,jdbcType=TIMESTAMP},
			</if>
			<if test="order_index != null">
				order_index = #{order_index,jdbcType=INTEGER},
			</if>
			<if test="path != null">
				path = #{path,jdbcType=VARCHAR},
			</if>
			<if test="introduce != null">
				introduce = #{introduce,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.surpass.mvc.system.bas.model.Courseware">
		update
		t_courseware
		set course_id = #{course_id,jdbcType=INTEGER},
		name =
		#{name,jdbcType=VARCHAR},
		synopsis = #{synopsis,jdbcType=VARCHAR},
		clicks = #{clicks,jdbcType=INTEGER},
		cjsj = #{cjsj,jdbcType=TIMESTAMP},
		order_index = #{order_index,jdbcType=INTEGER},
		path =
		#{path,jdbcType=VARCHAR},
		introduce = #{introduce,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.surpass.mvc.system.bas.model.Courseware">
		update
		t_courseware
		set course_id = #{course_id,jdbcType=INTEGER},
		name =
		#{name,jdbcType=VARCHAR},
		synopsis = #{synopsis,jdbcType=VARCHAR},
		clicks = #{clicks,jdbcType=INTEGER},
		cjsj = #{cjsj,jdbcType=TIMESTAMP},
		order_index = #{order_index,jdbcType=INTEGER},
		path =
		#{path,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>