<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.surpass.mvc.system.bas.dao.MyCourseMapper">
<resultMap id="BaseResultMap" type="com.surpass.mvc.system.bas.model.MyCourse" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="course_id" property="course_id" jdbcType="INTEGER" />
    <result column="act_user_id" property="act_user_id" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="memberid" property="memberid" jdbcType="INTEGER" />
    <result column="begindate" property="begindate" jdbcType="TIMESTAMP" />
    <result column="enddate" property="enddate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, course_id, act_user_id, type, memberid, begindate, enddate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_my_course
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insertvalue" parameterType="com.surpass.mvc.system.bas.model.MyCourse" >
    insert into t_my_course (id, course_id, act_user_id, 
      type, memberid, begindate, 
      enddate)
    values (#{id,jdbcType=VARCHAR}, #{course_id,jdbcType=INTEGER}, #{act_user_id,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{memberid,jdbcType=INTEGER}, #{begindate,jdbcType=TIMESTAMP}, 
      #{enddate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insert" parameterType="com.surpass.mvc.system.bas.model.MyCourse" >
    insert into t_my_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="course_id != null" >
        course_id,
      </if>
      <if test="act_user_id != null" >
        act_user_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="memberid != null" >
        memberid,
      </if>
      <if test="begindate != null" >
        begindate,
      </if>
      <if test="enddate != null" >
        enddate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="course_id != null" >
        #{course_id,jdbcType=INTEGER},
      </if>
      <if test="act_user_id != null" >
        #{act_user_id,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=INTEGER},
      </if>
      <if test="begindate != null" >
        #{begindate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.surpass.mvc.system.bas.model.MyCourse" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Nov 06 16:56:06 CST 2018.
    -->
    update t_my_course
    <set >
      <if test="course_id != null" >
        course_id = #{course_id,jdbcType=INTEGER},
      </if>
      <if test="act_user_id != null" >
        act_user_id = #{act_user_id,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="memberid != null" >
        memberid = #{memberid,jdbcType=INTEGER},
      </if>
      <if test="begindate != null" >
        begindate = #{begindate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        enddate = #{enddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.surpass.mvc.system.bas.model.MyCourse" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Nov 06 16:56:06 CST 2018.
    -->
    update t_my_course
    set course_id = #{course_id,jdbcType=INTEGER},
      act_user_id = #{act_user_id,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      memberid = #{memberid,jdbcType=INTEGER},
      begindate = #{begindate,jdbcType=TIMESTAMP},
      enddate = #{enddate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
	<delete id="deleteByKey" parameterType="java.lang.String">
		delete from
		t_my_course
		where
		course_id in (${courseIds}) and act_user_id = #{actUserId}
	</delete>
</mapper>